* {
    box-sizing: border-box;
    background-color:#5d5c61;
    color: whitesmoke;
}

/* Make sure to add color to your text */

.topnavigationbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: right;
    color: whitesmoke;
    padding: 5px 15px;
    background-color: #557a95;
    overflow: hidden;
}

.topnavigationbar a {
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: medium;
}   

.topnavigationbar a:hover {
   background-color: white;
   color: black;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin: 10px;
    
}

header {
    padding: 15px;
    background-color: #5d5c61;
    color: whitesmoke;
}

img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
}

.topleft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 50px;
}

.flex-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: white;
}

.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 5px;
}

.flex-container a {
    width: auto;
    margin: 5px;
    line-height: auto;
}

@media screen and (max-width: 768px) {
    head,
    body {
        flex-direction: column;
    }
    
    .flex-container {
        flex-direction: column;
    }
    
    .topnavigationbar a {
        float: none;
        width: 100%;
    }
    
    
}