* {
    box-sizing: border-box;
}

/* Make sure to add color to your text */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin: 10px;
    
}

header {
    padding: 15px;
    background-color: #5d5c61;
    color: whitesmoke;
}

img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
}

.topleft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 50px;
}