* {
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
}

h2 {
  background-color: #941313;
  width: 101px;
}

/* Navigation bar */

.topnavigationbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
  background-color: black;
  padding: 10px 0 10px 0;
  overflow: auto;
}

.topnavigationbar a {
  float: right;
  display: block;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: medium;
  overflow: none;
}

.topnavigationbar a:hover {
  background-color: white;
  color: black;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  margin: 10px;
}

.workList {
  position: relative;
  left: 25%;
}

#workSamples {
  border-radius: 15px;
  max-width: -100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* About Me and Headshot */

.intro {
  position: relative;
  left: 25%;
}

/* Name */

.name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 280px;
  left: 14%;
  font-size: 1.5rem;
}

/* Headshot */
#headshot {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  position: relative;
  left: -220px;
}

/* About Me */
.aboutMe {
  position: relative;
  left: 5px;
  top: -200px;
  width: 850px;
}

.flex-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: white;
}

/* My Work List */
.workList {
  position: relative;
  top: -135px;
  left: 300px;
}

/* Project Titles */
.title1 {
  font-size: 4rem;
  position: absolute;
  width: auto;
  left: 325px;
}
.title2 {
  font-size: larger;
  position: absolute;
  left: 365px;
  bottom: -530px;
}

.title3 {
  font-size: larger;
  position: absolute;
  bottom: -525px;
  right: 420px;
}

/* Project Samples */
.project1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  position: relative;
  bottom: 200px;
}

.flex-container a {
  width: 400px;
  margin: 3px;
  line-height: auto;
  size: 100%;
  position: relative;
  bottom: 180px;
}

#contact {
  width: 121px;
}

.contactMe {
  position: relative;
  left: 25%;
  bottom: 200px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  head,
  body {
    flex-direction: column;
  }

  .flex-container {
    flex-direction: column;
  }

  .topnavigationbar a {
    float: left;
    width: 100%;
  }

  .topleft {
    font-size: 25px;
    top: 104px;
    left: 10px;
  }
}

@media screen and (max-width: 480px) {
  head,
  body {
    flex-direction: column;
  }

  .flex-container {
    flex-direction: column;
  }

  /* Have navbar background color fill top of screen.*/
  .topnavigationbar {
    text-align: center;
    position: relative;
    left: 65px;
  }

  .project1 {
    position: relative;
  }
}
.flex-container {
  align-items: center;
  justify-content: center;
}
